h1 {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  color: darkblue;
}

button:hover {
  cursor: pointer;
  box-shadow: 3px;
  padding: 1px;
  color: blue;
}

button {
  padding: 1px;
}

body {
  background-color: lightgray;
}

h2 {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  color: blue;
  font-style: italic;
}

p {
  text-align: left;
  color: black;
  font-size: 18px;
  font-weight: 10px;
  font-family: "Courier New", Courier, monospace;
}

img {
  align-items: center;
  justify-content: center;
  margin: auto;
}

.hidden {
  display: none;
}

li {
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 10px;
  list-style:none;
}

.save-button {
  align-items: center;
}

#fiveDay {
  text-align: center;
  justify-content: center;
  display: inline-flex;
}

.each-day {
  list-style: none;
  border: 1px solid black;
  margin: 0px 5px;
  padding: 5px 5px;
}

footer {
  text-align:center;
  font-family: 'Courier New', Courier, monospace;
  color:antiquewhite;
  background-color:black;
  font-weight: 200;
  font-size:25px;
  padding:5px;
}

#today {
  text-align: center;
  text-align: center;
  justify-content: center;
}