h1 {
  text-align: center;
  font-family:'Courier New', Courier, monospace;
  color: darkblue;
}

button:hover {
  cursor: pointer;
  box-shadow: 3px;
  padding: 1px;
  color: blue;
}

button {
  padding: 1px;
}

body {
  background-color: lightgray;
}

h2 {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color: blue;
  font-style: italic;
}

p {
  text-align: left;
  color:black;
  font-size: 20px;
  font-weight: 10px;
  font-family: 'Courier New', Courier, monospace;
  
}

img {
  align-items: center;
  justify-content: center;
  margin:auto;
  
}

.hidden {
  display: none;
}